{% extends 'base.html.twig' %}
{% block title %}KUROKO'S UNIVERS{% endblock %}


{% block body %}


    {% include 'header.html.twig' %}
    
    <!--  CONTENTS  -->
    <div class="container">

        <!--  NEWS  -->
        <div class="content news">
            <div class="content__title">
                <img src="/dist/images/iconscan.png" alt="">
                Actualités
            </div>
            <img src="/dist/images/Actu.jpg" alt="">

            <ul>
                {% for new in news|reverse|slice(0, 5)%}
                    <li><a href="/news">{{ new.title }}</a></li>
                {% endfor %}
            </ul>

        </div>

        <!--  EPISODES  -->
        <div class="content episodes">
            <div class="content__title">
                <img src="/dist/images/iconscan.png" alt="">
                Derniers Episodes
                <a href="/episode"> Voir tout </a>
            </div>
            <div class="content__episodes">
                {% for episode in episodes|reverse|slice(0, 5)%}
                    <div class="content__episode">
                        <a href="/episode/{{ episode.id }}"><img src="/uploads/episodes/{{ episode.thumbnail }}" alt=""></a>
                        <p>{{ episode.title }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!--  SCANS  -->
        <div class="content scans">
            <div class="content__title">
                <img src="/dist/images/iconscan.png" alt="">
                Derniers Scans
                <a href="/scan"> Voir tout </a>
            </div>
            <div class="content__scans">
                {% for scan in scans|reverse|slice(0, 5)%}
                    <div class="content__episode">
                        <a href="/scan/{{ scan.id }}"><img src="/uploads/scans/{{ scan.thumbnail }}" alt=""></a>
                        <p>{{ scan.title }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include 'footer.html.twig' %}

{% endblock %}
