{% extends 'base.html.twig' %}
{% block title %}KUROKO'S UNIVERS{% endblock %}


{% block body %}


    {% include 'header.html.twig' %}
    
    <!--  CONTENTS  -->
    <div class="container">

        <div class="home-section">

            <h1 style="color:#c31313">UNIVERS</h1>
            <div class="synopsis">
                C'est la rentrée au club de basket-ball du lycée Seirin et cette année, deux rookies se démarquent… D'un côté, le volcanique Taiga Kagami, fraîchement revenu des États-Unis où il a fait ses armes sous les arceaux. De l'autre, le chétif et très effacé Tetsuya Kuroko dont on murmure qu'il aurait fait partie de l'équipe de basket du collège Teikô, la légendaire “Génération Miracle” ! Et si ces deux joueurs que tout oppose étaient amenés à se compléter à merveille sur le terrain ?

            </div>

        </div>

        <!--  NEWS  -->
        <div class="home-section">

            <h2 class="home-entity-title">

                <img class="icon-content" src="/dist/images/iconnews.png" alt="">
                ACTUALITÉS

            </h2>
            <a class="see-news" href="/news">voir toutes les news ></a>

            <div class="home-news-content">

                <img class="news-img" src="/dist/images/Actu.jpg" alt="">
                <div class="news-box">
                    {% for new in news|reverse|slice(0, 5)%}

                    <a href="/news#{{ new.id }}">
                        <div class="title-content">
                            <div>{{ new.title }}</div>
                        </div>
                    </a>

                    {% endfor %}
                </div>

            </div>

        </div>

        <!--  EPISODES  -->
        <div class="home-section">

            <h2 class="home-entity-title">

                <img class="icon-content" src="/dist/images/iconepisode.png" alt="">
                DERNIERS ÉPISODES -

            </h2>
            <a class="see-news" href="/episode">voir tous les épisodes ></a>

            <div class="home-content">

                {% for episode in episodes|reverse|slice(0, 10)%}

                    <div class="episode-content">

                        <a href="/episode/{{ episode.id }}">
                            <img src="/uploads/episodes/{{ episode.thumbnail }}" alt="" class="picture-episode-content">
                        </a>
                        <div class="title-content">
                            <div><a href="/episode/{{ episode.id }}">{{ episode.title }}</a></div>
                        </div>

                    </div>

                {% endfor %}

            </div>

        </div>

        <!--  SCANS  -->
        <div class="home-section">

            <h2 class="home-entity-title">

                <img class="icon-content" src="/dist/images/iconscan.png" alt="">
                DERNIERS SCANS -

            </h2>
            <a class="see-news" href="/scan">voir tout les scans ></a>

            <div class="home-content">

                {% for scan in scans|reverse|slice(0, 12)%}

                    <div class="scan-content">

                        <a href="/scan/{{ scan.id }}">
                            <img src="/uploads/scans/{{ scan.thumbnail }}" alt="" class="picture-scan-content">
                        </a>
                        <div class="title-content">
                            <div>
                                <a href="/scan/{{ scan.id }}">
                                    Tome n°{{ scan.title }}
                                </a>
                            </div>
                        </div>

                    </div>

                {% endfor %}

            </div>

        </div>

    </div>

    {% include 'footer.html.twig' %}

{% endblock %}
