{% extends 'base.html.twig' %}
{% block title %}KUROKO'S UNIVERS{% endblock %}


{% block body %}


    {% include 'header.html.twig' %}
    
    <!--  CONTENTS  -->
    <div class="container">

        <!--  NEWS  -->
        <div class="home-section">
            <h2 class="news entity-title">
                <img class="icon-content" src="/dist/images/iconnews.png" alt="">
                ACTUALITÉS -
                <a href="/news">voir toutes les news</a>
            </h2>
            <div class="content news">
                <img src="/dist/images/Actu.jpg" alt="">
                {% for new in news|reverse|slice(0, 5)%}
                    <div class="news-content">
                        <div class="picture-news-content">

                        </div>
                        <div class="title-news-content">
                            <div><a href="/news">{{ new.title }}</a></div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

        <!--  EPISODES  -->
        <div class="home-section">
            <h2 class="episodes entity-title">
                <img class="icon-content" src="/dist/images/iconepisode.png" alt="">
                DERNIERS ÉPISODES -
                <a href="/episode">voir tous les épisodes</a>
            </h2>

            <div class="episodes-content">

                {% for episode in episodes|reverse|slice(0, 6)%}
                    <div class="episode-content">
                        <a href="/episode/{{ episode.id }}"><img src="/uploads/episodes/{{ episode.thumbnail }}" alt="" class="picture-episode-content"></a>
                        <div class="title-episode-content">
                            <div><a href="/episode/{{ episode.id }}">{{ episode.title }}</a></div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>

        <!--  SCANS  -->
        <div class="home-section">
            <h2 class="scans entity-title">
                <img class="icon-content" src="/dist/images/iconscan.png" alt="">
                DERNIERS SCANS -
                <a href="/scan">voir tout les scans</a>
            </h2>

            <div class="scans-content">

                {% for scan in scans|reverse|slice(0, 6)%}
                    <div class="scan-content">
                        <a href="/scan/{{ scan.id }}"><img src="/uploads/scans/{{ scan.thumbnail }}" alt="" class="picture-scan-content"></a>
                        <div class="title-scan-content">
                            <div><a href="/scan/{{ scan.id }}">Tome n°{{ scan.title }}</a></div>
                        </div>
                    </div>

                {% endfor %}

            </div>

        </div>
    </div>

    {% include 'footer.html.twig' %}

{% endblock %}
