{% extends 'base.html.twig' %}
{% block title %}KUROKO'S - {{ scan.title }}{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}

    <div class="container">
        <section>
            <div class="entity-title">
                <h1>Tome n°{{ scan.title }}</h1>
            </div>
            <div class="sc_box">
                <div class="sc_box_content">
                    <img src="../uploads/scans/{{ scan.fileScanName }}" controls></img>
                </div>
            </div>
            <div class="new_content">
                <div class="btn_left_right">
                    <a href="/scan/{{ scan.id - 1 }}" class="btn">Précédent</a>
                </div>
                <div class="select_center">

                </div>
                <div class="btn_left_right">
                    <a href="/scan/{{ scan.id + 1 }}" class="btn">Suivant</a>
                </div>
            </div>
        </section>

    </div>

    {% include 'footer.html.twig' %}
{% endblock %}
