{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Episode</h1>

    <table>
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>Nbepisode</th>
                <td>{{ episode.nbEpisode }}</td>
            </tr>
            <tr>
                <th>Nbseason</th>
                <td>{{ episode.nbSeason }}</td>
            </tr>
            <tr>
                <th>Filevideo</th>
                <td>{{ episode.fileVideo }}</td>
            </tr>
            <tr>
                <th>Publishedat</th>
                <td>{% if episode.publishedAt %}{{ episode.publishedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('episode_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('episode_edit', { 'id': episode.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
